@using MySportsClubManager.Common
@using MySportsClubManager.Web.ViewModels.Sport
@model SportDetailsViewModel
@{
    <div class="container my-5">
        <div class="row gy-3">
            <div class="col-lg-9">
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <h1 class="card-title">@Model.Name</h1>
                        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <div class="row">
                                <div class="col-xl-1">
                                    <div class="m-2">
                                        <a type="submit" class="btn btn-danger" asp-area="Administration" asp-controller="Sport" asp-action="Delete" asp-route-sportId="@Model.Id">Delete</a>
                                    </div>
                                </div>
                                <div class="col-xl-1">
                                    <div class="m-2">
                                        <a type="submit" class="btn btn-warning" asp-area="Administration" asp-controller="Sport" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                    </div>
                                </div>
                            </div>
                        }
                        <img class="img-fluid rounded" src="@Model.ImageUrl" alt="sport's image" style="width: 100%" />
                    </div>
                </div>
                <div class="card text-light bg-primary mt-3">
                    <h5 class="text-light mx-4 my-2">Recently added sports</h5>
                    <div class="row row-cols-sm-2 row-cols-md-4 gy-2 m-2">
                        <div class="col-3">
                            <div class="card bg-warning" style="border: 0px">
                                <div class="card-header">Tennis</div>
                                <img class="card-img-bottom" src="https://cdn.britannica.com/57/183257-050-0BA11B4B/Roger-Federer-2012.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card bg-warning" style="border: 0px">
                                <div class="card-header">Tennis</div>
                                <img class="card-img-bottom" src="https://cdn.britannica.com/57/183257-050-0BA11B4B/Roger-Federer-2012.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card bg-warning" style="border: 0px">
                                <div class="card-header">Tennis</div>
                                <img class="card-img-bottom" src="https://cdn.britannica.com/57/183257-050-0BA11B4B/Roger-Federer-2012.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card bg-warning" style="border: 0px">
                                <div class="card-header">Tennis</div>
                                <img class="card-img-bottom" src="https://cdn.britannica.com/57/183257-050-0BA11B4B/Roger-Federer-2012.jpg" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <h3>Details</h3>
                        <p>
                            @Model.Description
                        </p>
                    </div>
                </div>
                <div class="card text-white bg-primary mt-3">
                    <div class="card-body">
                        <h3>More details</h3>
                        <h5>Date of creation: <strong>@Model.CreationDate</strong></h5>
                        <h5>Country:    <strong>@Model.Country.Name</strong></h5>
                        <h5>Creator: <strong>@Model.Creator.Name</strong></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
