@model RegisterViewModel
@{
        <div class="container h-100 my-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px; border-width: medium">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>

                                    <form method="post" asp-action="Register" class="mx-1 mx-md-4" enctype="multipart/form-data">

                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="username">UserName</label>
                                                <input type="text" id="username" class="form-control" asp-for="UserName"/>
                                                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="firstName">FirstName</label>
                                                <input type="text" id="firstName" class="form-control" asp-for="FirstName"/>
                                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="lastName">LastName</label>
                                                <input type="text" id="lastName" class="form-control" asp-for="LastName" />
                                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="email">Email</label>
                                                <input type="email" id="email" class="form-control" asp-for="Email"/>
                                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-image fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="image">Upload your profile pic</label>
                                                <input type="file" id="image" class="form-control" asp-for="@Model.ImageFile" />
                                                <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="password">Password</label>
                                                <input type="password" id="password" class="form-control" asp-for="Password"/>
                                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="rePassword">Repeat your password</label>
                                                <input type="password" id="rePassword" class="form-control" asp-for="ConfirmPassword" />
                                                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                        </div>

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <p>Already joined? <a asp-area="" asp-controller="ApplicationUser" asp-action="Login">Login</a></p>
                                        </div>

                                    </form>

                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                         class="img-fluid" alt="Sample image">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
