@model dynamic
@{
    <div class="my-3">
        <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item @if(!Model.HasPreviousPage){
            <text>disabled</text>
}">
                    <a class="page-link" asp-area="@ViewData["AreaName"]" asp-controller="@ViewData["ControllerName"]" asp-action="@ViewData["ActionName"]" asp-route-id="@Model.PreviousPageNumber">&laquo;</a>
            </li>
            @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item">
                        <a class="page-link" asp-area="@ViewData["AreaName"]" asp-controller="@ViewData["ControllerName"]" asp-action="@ViewData["ActionName"]" asp-route-id="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item active">
                <a class="page-link">@Model.PageNumber</a>
            </li>
            @for (int i = Model.PageNumber + 1; i < Model.PageNumber + 4; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <li class="page-item">
                        <a class="page-link" asp-area="@ViewData["AreaName"]" asp-controller="@ViewData["ControllerName"]" asp-action="@ViewData["ActionName"]" asp-route-id="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item @if(!Model.HasNextPage){
            <text>disabled</text>
}">
                        <a class="page-link" asp-area="@ViewData["AreaName"]" asp-controller="@ViewData["ControllerName"]" asp-action="@ViewData["ActionName"]" asp-route-id="@Model.NextPageNumber">&raquo;</a>
            </li>
        </ul>
    </div>
}
