@using MySportsClubManager.Web.ViewModels.Review
@{
    this.ViewData["Title"] = $"All reviews, Page {Model.PageNumber}";
    this.ViewData["ControllerName"] = "Review";
    this.ViewData["ActionName"] = "All";
    this.ViewData["AreaName"] = "Administration";
}
@model ReviewListViewModel
@{
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div class="container">
        @if (Model.Reviews.Count() > 0)
        {
            <table class="table table-hover  my-5">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">User</th>
                        <th scope="col">Club</th>
                        <th scope="col">ReviewText</th>
                        <th scope="col">Rating</th>
                        <th scope="col">AI's Opinion <i class="fa-solid fa-robot"></i></th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var review in Model.Reviews)
                    {
                        <tr>
                            <td>
                                <a asp-area="" asp-controller="ApplicationUser" asp-action="Profile" asp-route-user="@review.OwnerId" style="text-decoration: none; color: inherit;">
                                    @review.OwnerName
                                </a>
                            </td>
                            <td>
                                <a asp-area="" asp-controller="Club" asp-action="Details" asp-route-id="@review.ClubId" style="text-decoration: none; color: inherit;">
                                    @review.ClubName
                                </a>
                            </td>
                            <td>@review.ReviewText</td>
                            <td>@review.Rating</td>
                            <td>@review.Prediction</td>
                            <td>
                                <a class="btn btn-danger" asp-area="Administration" asp-controller="Review" asp-action="Delete" asp-route-reviewId="@review.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3 class="text-center">No reviews yet!</h3>
        }
    </div>
    <partial name="_PaginationPartial"/>
}

