@model EditTrainingInputModel
@{
    <div class="container h-100 my-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px; border-width: medium">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col">
                                <p class="text-center h1 fw-bold m-3">Create Training</p>
                                <form method="post" asp-action="Edit" class="mx-1 mx-md-4" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    @if (Model.Clubs.Count() > 0)
                                    {
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label asp-for="@Model.ClubId">Club</label>
                                                <select asp-for="@Model.ClubId" class="form-control">
                                                    @foreach (var genre in Model.Clubs)
                                                    {
                                                        <option value="@genre.Id">@genre.Name</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="ClubId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="@Model.Clubs">
                                    }
                                    else
                                    {
                                        <div class="d-flex flex-row align-items-center">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill ">
                                                <p class="text-warning">You must create club first!</p>
                                            </div>
                                        </div>
                                    }
                                    

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="@Model.Topic">Topic</label>
                                            <input type="text" class="form-control" asp-for="@Model.Topic" />
                                            <span asp-validation-for="@Model.Topic" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="@Model.Date">Date</label>
                                            <input type="date" class="form-control" asp-for="@Model.Date"/>
                                            <span asp-validation-for="@Model.Date" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="@Model.Duration">Duration</label>
                                            <input type="time" class="form-control" asp-for="@Model.Duration" />
                                            <span asp-validation-for="@Model.Duration" class="text-danger"></span>
                                        </div>
                                    </div>

                                    
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Edit</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
