@using MySportsClubManager.Web.ViewModels.ApplicationUser
@model List<ApplicationUserInformationViewModel>
<div class="container">
    <table class="table table-hover  my-5">
        <thead>
            <tr class="table-primary">
                <th scope="col">Picture</th>
                <th scope="col">Username</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Admin</th>
                <th scope="col">Trainer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <img src="@user.Image.URL" class="rounded-circle" style="width: 35px; height: 35px;" alt="Cinque Terre">
                    </td>
                    <td>@user.UserName</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-primary" asp-area="Administration" asp-controller="Dashboard" asp-action="CreateAdmin" asp-route-id = "@user.Id">Make them Admin</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-area="Administration" asp-controller="Dashboard" asp-action="CreateTrainer" asp-route-id="@user.Id">Make them Trainer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
