@model List<ApplicationUserInformationViewModel>
<div class="container">
    <table class="table table-hover  my-5">
        <thead>
            <tr class="table-primary">
                <th scope="col">Picture</th>
                <th scope="col">Username</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Admin</th>
                <th scope="col">Trainer</th>
                <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <img src="@user.Image.URL" class="rounded-circle" style="width: 35px; height: 35px;" alt="Cinque Terre">
                    </td>
                    <td>@user.UserName</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    @if (user.Id != this.User.Id())
                    {
                        <td>
                            <a class="btn btn-primary" asp-area="Administration" asp-controller="Dashboard" asp-action="CreateAdmin" asp-route-id="@user.Id">Promote to admin</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-area="Administration" asp-controller="Dashboard" asp-action="CreateTrainer" asp-route-id="@user.Id">Promote to trainer</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-area="Administration" asp-controller="Dashboard" asp-action="RemoveRole" asp-route-id="@user.Id">Demote to normal user</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button class="btn btn-warning disabled">Can't promote yourself</button>
                        </td>
                        <td>
                            <button class="btn btn-warning disabled">Can't promote yourself</button>
                        </td>
                        <td>
                            <button class="btn btn-warning disabled">Can't demote yourself</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
